{% extends "basefront.html.twig" %}

{% block body %}
<section class="container mt-2">
    <h3>Mentions l√©gales du site</h3>
    <p>Conform√©ment aux dispositions des Articles 6-III et 19 de la Loi n¬∞2004-575 du 21 juin 2004 pour la Confiance dans l'√©conomie num√©rique, dite L.C.E.N., il est port√© √† la connaissance des utilisateurs et visiteurs du site <u><a href="http://www.mediatekformation.fr">mediatekformation.fr</a></u> les pr√©sentes mentions l√©gales.</p>
    <p>Le site mediatekformation est accessible ‡ l'adresse suivante&nbsp;:&nbsp;<u><a href="http://www.mediatekformation.fr">mediatekformation.fr</a></u> (ci-aprËs "<em>le site</em>"). L'accËs et l'utilisation du Site sont soumis aux prÈsentes "Mentions lÈgales" dÈtaillÈes ci-aprËs ainsi qu'aux lois et/ou rËglements applicables. La connexion, l'utilisation et l'accËs ‡ ce site impliquent l'acceptation intÈgrale et sans rÈserve de l'internaute de toutes les dispositions des prÈsentes Mentions LÈgales.</p>
    <h4>Article 1 - Informations l√©gales</h4>
    <p>En vertu de l'Article 6 de la Loi n¬∞ 2004-575 du 21 juin 2004 pour la confiance dans l'√©conomie num√©rique, il est pr√©cis√© dans cet article l'identit√© des diff√©rents intervenants dans le cadre de sa r√©alisation et de son suivi.</p>
    <div class="bd-example">
        <details>
            <summary>B. HÈbergeur du site (ci-aprËs "<em>l'HÈbergeur</em>")</summary>
            <address>
                <strong>Jacques Lefevre</strong>
                <br>rue du Colonel Driant 
                <br>75001 Paris
                <br>T√©l√©phone&nbsp;:&nbsp;0102030405
                <br>Courriel&nbsp;:&nbsp;contact@mediatekformation.fr
                <br>RCS&nbsp;:&nbsp;123456789
            </address>
        </details>
        <details>
                <summary>B. HÈbergeur du site (ci-aprËs "<em>l'HÈbergeur</em>")</summary>
            <address>
                <strong>PlanetHoster</strong>
                <br>4416 Louis-B.-Mayer
                <br>Laval, Qu√©bec
                <br>H7P 0G1 Canada
                <br>T√©l√©phone&nbsp;:&nbsp;0102030405
                <br>Courriel&nbsp;:&nbsp;contact@planethoster.com
            </address>
        </details>
        <details>
            <summary>C. Utilisateurs (ci-aprËs "<em>les Utilisateurs</em>")</summary>
            <p>Sont consid√©r√©s comme utilisateurs tous les internautes qui naviguent, lisent, visionnent et utilisent le site mediatekformation.</p>
        </details>
    </div>
    <h4 class="mt-3">Article 2 - Confidentialit√©</h4>
    <div class="bd-example">
        Le site ne collecte pas de donn√©es.
    </div>
    <h4 class="mt-3">Article 3 - accessibilit√©</h4>
    <p>Le Site est par principe accessible aux Utilisateurs 24/24h et 7/7j, sauf interruption, programm√©e ou non, pour des besoins de maintenance ou en cas de force majeure.</p>
    <p>En cas d'impossibilit√© d'acc√®s au Site, celui-ci s'engage √† faire son maximum afin d'en r√©tablir l'acc√®s. Le Site ne saurait √™tre tenu pour responsable de tout dommage, quelle qu'en soit la nature, r√©sultant de son indisponibilit√©.</p>
    <h4 class="mt-3">Article 4 - loi applicable et juridiction</h4>
    <p>Les pr√©sentes Mentions L√©gales sont r√©gies par la loi fran√ßaise. En cas de diff√©rend et √† d√©faut d'accord amiable, le litige sera port√© devant les tribunaux fran√ßais conform√©ment aux r√®gles de comp√©tence en vigueur.</p>
    <h4 class="mt-3">Article 5 - contact</h4>
    <p>Pour tout signalement de contenus ou d'activit√©s illicites, l'Utilisateur peut contacter l'√âditeur √† l'adresse suivante&nbsp;:&nbsp;contact@mediatekformation.fr, ou par courrier recommand√© avec accus√© de r√©ception adress√© √† l'√âditeur aux coordonn√©es pr√©cis√©es dans les pr√©sentes mentions l√©gales.</p>
    <p>Le site mediatekformation vous souhaite une excellente navigation !</p>
</section>

{% endblock %}
{% block footer %}{% endblock %}


